 body

 {
  font-family: 'Patrick Hand', sans-serif;} 

  ul {
    display: inline-block;  
    
    list-style-type: none;
    vertical-align:top;
  }

 
li.outset {

  color:aliceblue;
  background-color: rgba(1, 151, 2205);
  
  border-radius: 15px;  
  border: solid  1px  rgb(209, 231, 12);   
  padding: .1em .2em .1em 1em;
  margin-bottom: 0.35em;
  text-shadow: 0 1px 0 rgb(17, 17, 17);  
  font-size:3vw
  
}
li.contador
{
  list-style-type: none;
  color : #008bba00;

}


li.found {
  text-decoration: line-through;
  background-color: rgba(46, 182, 19, 0.877);
  list-style: '👍';
  
}


div#canvasContainer {
  

  font-family: 'Patrick Hand', sans-serif;


  width: 60%;
  display: inline-block;
}

body::-webkit-scrollbar {
  display: none;
}